.col-2 {
  flex: 2;
}
.form-mt {
  margin-top: 30px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row.center {
  align-items: center;
}
.mb {
  margin-bottom: 12px;
}
.product_name input {
  width: 100%;
  border: none;
  border-bottom: 1px dotted rgb(53, 53, 53);
  padding: 7px 0;
  background-color: transparent;
  font-size: 110%;
}

.product_name input:focus {
  box-shadow: none;
  border: 0;
  outline: none;
  border-bottom: 1px solid rgb(53, 53, 53);
}
.product_table_list .card .product_name,
.product_table_list .card .product_price {
  font-size: 76%;
  color: #6d6d6d;
}
.ml-2 {
  margin-left: 7px;
}
.create_btn {
  float: right;
  padding: 10px 15px;
  border-radius: 0.25rem;
  border: none;
  background-color: tomato;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

.create_btn:hover {
  background-color: rgb(255, 51, 15);
  transition: all 0.3s ease;
}
